@font-face {
    font-family: rustic;
    src: url(../fonts/rustic.ttf);
}

body {
    margin: 0;

    .app {
        background-color: #000;
        color: #FFF;
        font-family: rustic;
        font-size: 30px;
        padding: 50px;
        text-align: center;

        .logo {
            height: 175px;
        }

        .rotate {
            animation: spin 10s linear infinite;
        }

        h1 {
            color: #61DAFB;
            font-size: 4em;
            font-weight: normal;
            letter-spacing: 2px;
            margin: 0.16em;
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
